body{
    font-family: 'Poppins', sans-serif;
    background-color: #E8E8E8;
}
.btn-inner-text{
    color: #289BDE;
}
.btn-border{
    border: 2px solid  #289BDE;
}


.p-color{
    color: #777777;
}

.bg-card{
    background-color: #F4FAFD;
}

.register-bg-primary {
   background-color:  #289BDE;
}
.price-text-primary{
    color:  #289BDE;

}